body {
    font-family: "Helvetica", "Arial", serif;
    color: #333;
    background-color: rgb(221, 221, 221);
    margin: 1em 10%;
}
h1 {
    color: #333;
    background-color: transparent;
}
a {
    background-color: transparent;
    text-decoration: none;
}
ul {
    padding: 0;    
}
li {
    padding: 1em;
    list-style: none;
    display: inline-block;

}
#imagegallery img {
    width: 150px;
}

img {
    display: block;
    clear: both;
    box-shadow: 0 0 3px rgb(155, 155, 155);
}